.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: solid 2px black;
  height: 50px;

}
.leftText {
  font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    color: #888686;
}
.rightText > a{
  font-weight: 500;
  color: #888686;
  text-decoration: none;
}
/* ---------------------NavBar-------------------------------- */
/* ---------------------Home-------------------------------- */
.homeBar{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  height: 50px;
  align-items: center;
}
.homeContainer{
  margin: 0px 40px;
  padding: 10px 0;
  background-color: #4688f2;
  color: white;
}
.addRecode > a{
  text-decoration: none;
  border-bottom: solid 5px blue;
  font-size: 20px;
  font-weight: 600;
}

/* ---------------------DetailsContainer-------------------------------- */
.detailContainer{
  margin: 0 40px;
  padding: 5px 0px;
  text-align: center;
  border-bottom: solid 1px;
  text-transform: capitalize;
}

/* ---------------------DetailsContainer-------------------------------- */
/* ---------------------AddContainer-------------------------------- */
.addContainer{
  padding-top: 30px;
  padding-left: 40px;
}
.addContainer > div{
  padding: 10px;
}
.inputField label{
  color: blue;
}
.updateBtn{
  text-align: right;
  width: 49%;
}
.updateBtn> a{
  text-decoration: none;
}
/* ---------------------AddContainer-------------------------------- */

.modal-dialog {
  max-width: 500px;
  margin: 14.75rem auto !important;
}